/advance_form.html
/ajaxapi
/Auto Fill Individual Skill Bars
/blockvsinline.html
/blogpage.html
/calculatorProject
/css
/CSS Assignment_ Bootstrap Template 1
/CSS Assignment_ Bootstrap Template 2
/CSS Assignment_ Bootstrap Template 3
/CSS Assignment_ Create Aside Section of Blog
/CSS Assignment_ Create Contact Section
/CSS Assignment_ Make Resume Responsive
/demo.html
/demo.js
/demo2.html
/demo_style.css
/example.html
/examplestyle.css
/final_design.css
/final_project.html
/footer_section.html
/footer_style.css
/form
/form.html
/general
/general1
/image
/index.html
/jquery-3.6.0.js
/learn_selector.css
/learn_selector.html
/linkedlist in c
/loginform.html
/main
/main.css
/mediatag.html
/nasa_API
/navigation.html
/new.cpp
/new.css
/new.exe
/new.html
/ninjas.html
/normal.css
/paratics.html
/pavan (2).html
/pavan.html
/project1
/project2.html
/project3.html
/project5.html
/radio.html
/resume1.html
/resume_project_revision.css
/resume_project_revision.html
/revision.html
/revision_form.html
/revision_navigation.html
/size.c
/size.exe
/specialcharacter.html
/static
/style.css
/style1.css
/style2.css
/table.css
/table.html
/tag.html
/tempCodeRunnerFile.cpp
/web
/web1